<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="beauty/css/styles.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<style>
body {
   background-image: url("{% static 'beauty/images/beauty1.jpg' %}");
   min-height: 100vh;
   background-size: cover;
  }
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
}
.card-container img {
  width: 100%;
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  }
</style>
<header>
    <div class="head-top container-fluid">
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <nav class="d-flex col-2 justify-content-between align-items-center">
                    <a href="https://www.facebook.com/" target="_blank"
                       class="d-flex justify-content-center align-items-center">
                        <img src="static/beauty/css/images/facebook.jpg" alt="Facebook"
                             style="width:25px; height:25px;">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank"
                       class="d-flex justify-content-center align-items-center">
                        <img src="static/beauty/css/images/instagram.jpg" alt="Instagram"
                             style="width:25px; height:25px;">
                    </a>
                    <a href="https://twitter.com/?lang=en" target="_blank"
                       class="d-flex justify-content-center align-items-center">
                        <img src="static/beauty/css/images/twitter.jpg" alt="Twitter" style="width:25px; height:25px;">
                    </a>

                </nav>
                <a href="{% url 'profile' %}" class="my-profile col-2 d-flex align-items-center">
                    <figure class="d-flex justify-content-center align-items-center">
                        <img src="static/beauty/css/images/profile.svg" alt="" style="width:20px; height:20px;"/>
                        <figcaption>Profile</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
    <div class="header container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <a class="logo col-1" href="{% url 'base' %}">
                    <img src="{% static 'beauty/images/logo.jpg' %}" alt='Start page' width="50" , height="50">
                </a>
                <nav class="col-11 d-flex justify-content-between">
                    <a class="nav-link" href="{% url 'services' %}">Paslaugos</a>
                    <a class="nav-link" href="{% url 'specialist' %}">Salonai</a>
                    <a class="nav-link" href="{% url 'user_client' %}">Mano klientai</a>
                    <a class="nav-link" href="{% url 'registration' %}">Mano uzsakymai</a>
                    <a class="nav-link" href="#">Kalendorius</a>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'profile' %}">
                        <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                        {{ user.get_username }}</a>
                    <a class="nav-link" href="{% url 'logout'%}">Atsijungti</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'login'%}">Prisijungti</a>
                    {% endif %}
                </nav>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'info' %}success{% endif %}"
             role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</header>
{% block content %}
{% endblock %}
<div class="card-container">
    <div class="card-footer">
        <a href="{{ links.0 }}" target="_blank">
            <img src="{{ img_links.0 }}" alt="Image 1">
            <p class="card-title">{{ img_title.0 }}</p>
        </a>
    </div>
    <div class="card-footer">
        <a href="{{ links.1 }}" target="_blank">
            <img src="{{ img_links.1 }}" alt="Image 1">
            <p class="card-title">{{ img_title.1 }}</p>
        </a>
    </div>
    <div class="card-footer">
        <a href="{{ links.2 }}" target="_blank">
            <img src="{{ img_links.2 }}" alt="Image 1">
            <p class="card-title">{{ img_title.2 }}</p>
        </a>
    </div>
</div>

<footer class="container-fluid mt-auto">
    <nav class="navbar navbar-expand-sm" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="logo col-2" href="{% url 'base' %}">
                <img src="{% static 'beauty/images/logo.jpg' %}" alt='Start page' width="35" , height="35">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontaktai</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">D.U.K.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Naujienos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'comment' %}">Atsiliepimai</a>
                    </li>
                </ul>
                <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
                    <div class="input-group">
                        <input name="query" class="form-control" type="text" placeholder="Paieška">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </nav>
</footer>

</body>
</html>

