<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!--    <style>-->
<!--        body {-->
<!--            padding: 0;-->
<!--            list-style: none;-->
<!--            background-image: url("{% static 'beauty/images/beauty1.jpg' %}");-->
<!--            background-size: cover;-->
<!--            min-height: 100vh;-->
<!--            color: #000;-->
<!--        }-->
<!--    </style>-->
</head>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light ">
        {% block sidebar %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'base' %}">
                    <img src="{% static 'beauty/images/logo.jpg' %}" alt='Start page' width="75" , height="75">
                </a>
            </li>
            <li>
    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
    <input name="query" class="form-control" type="text" placeholder="Paieška">
    </form>
</li>
                {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="#">
              </svg>
            {{ user.get_username }}</a></li>
              <li class="nav-item active"><a class="nav-link" href="{% url 'logout'%}">Atsijungti</a></li>
          {% else %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'login'%}">Prisijungti</a></li>

          {% endif %}

        </ul>
        {% endblock %}
    </nav>
</div>
<ul style="list-style-type:circle">
    <li class="nav-item active"><a class="nav-link" href="{% url 'services' %}">Paslaugos</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'specialist' %}">Salonai</a></li>
    <li class="nav-item active"><a class="nav-link" href="#">Mano uzsakymai</a></li>
    <li class="nav-item active"><a class="nav-link" href="#">Kalendorius</a></li>
</ul>

<style>
    li {
        color: green;
    }
</style>

<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'info' %}success{% endif %}" role="alert">
                {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div>
{% block content %}
{% endblock %}
</div>
</body>
</html>

