{% extends "beauty/base.html" %}

{% block content %}
    <h1>Mano specialistai</h1>

    {% if specialist_list %}
    <ul>

      {% for s in specialist_list %}
        <img class="rounded-circle" src="{{s.company}}">
      <li class="{% if s.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'specialist_detail' s.address %}">{{s.company}}</a> ({{ s.photo }})
      <br/>
        <a class="btn btn-primary" href="{{ specialist.pk }}" role="button">Peržiūrėti</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}